/**
 * Echoes Server
 *
 * @author  Adrian@Slacknet
 * @license http://www.gnu.org/licenses/gpl-3.0.txt GPLv3
 */

 module.exports = {
    LOG_LEVEL: 3,
    LOG_FILE_NAME: 'server.log',
    SERVER_PORT: 3000,
    SERVER_IP: '127.0.0.1',

    ALLOWED_TRANSPORTS: [
        'websocket',
        //'htmlfile',
        //'xhr-polling',
        //'jsonp-polling',
    ],

    VALID_NICK_REGEX: /[^a-z0-9\-\_]+/gi,
    VALID_CHAN_REGEX: /[^a-z0-9\-\_]+/gi,

    PARALLAX_AUTH: 'https://echoes.im',

    REDIS_ENABLED: false,
    REDIS_HOST: '',
    REDIS_PORT: 6379,
    REDIS_KEY: '',
}
